body { 
    text-align:center;
    margin: 0px;
}  

.text_box { 
    height: 900px;
    margin: 0px auto 0px auto;
}

.intro-container-text{ 
    position: relative;
    bottom: 600px;
}
.intro-container { 
    position: relative;
    bottom: 100px;
}
span { 
    text-decoration:underline;
}
.pfp { 
    position: absolute;
    top: 50px;
    right: 100px;
    height: 700px;
    border-radius:25px;
}
.waving { 
    position: absolute;
    left: 30px;
    top: 830px;
}
.dancing { 
    position: absolute; 
    right: 70px; 
    top: 780px;
}
hr { 
    height: 5px;
    margin: 0px;
    color: black; 
    background: black;
}
