<%- include("header") %>

<form action="/compose" method="POST">
  <h1> Compose </h1> 
  <input style="margin-bottom: 15px; width:75%" placeholder="Title..." name="title"> </input>
  <textarea name="newPost" style="width: 100%;" rows="15"> </textarea>
  <button> Post </button>
</form>

<%- include("footer") %>
